@font-face {
  font-family: 'PodkovaBold';
  src: local('PodkovaBold'), url(./assets/fonts/podkova.bold.ttf)
}
@font-face {
  font-family: 'PodkovaRegular';
  src: local('PodkovaRegular'), url(./assets/fonts/podkova.regular.ttf)
}
html{
  color: white;
  --CyanCM: #109BD6;
  background-color: black;
}

h1{font-size: 5rem;}
h2{font-size: 2rem;}
h3{font-size: 1.7rem;}
p{font-size: 1.5rem;}